<%- if controller_name != 'sessions' %>
  <%= link_to "Já tem uma conta?", new_session_path(resource_name) %>
<% end %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span>
    Não tem conta?
    <%= link_to "Cadastre-se", new_registration_path(resource_name) %>
  </span>
<% end %>
