<%- if controller_name != 'sessions' %>
  <%= link_to t('links.already_have_account'), new_session_path(resource_name) %>
<% end %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span>
    <%= t('links.dont_have_account') %>
    <%= link_to t('links.sign_up'), new_registration_path(resource_name) %>
  </span>
<% end %>
