<header class="navbar navbar-light sticky-top flex-md-nowrap p-0">
  <%= link_to root_path, class: 'navbar-brand px-5 d-flex align-items-center' do %>
    <%= image_tag "logo.webp", alt: "Logo", style: "height: 40px;" %>
  <% end %>
  <%= button_tag type: 'button', class: 'navbar-toggler position-absolute d-md-none collapsed', 
      data: { bs_toggle: 'collapse', bs_target: '#sidebarMenu' }, aria: {
        controls: 'sidebarMenu', expanded: 'false', label: 'Toggle navigation'
      } do %>
    <span class="navbar-toggler-icon"></span>
  <% end %>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <%= link_to t('links.logout'), destroy_user_session_path, class: 'nav-link px-3' %>
    </div>
  </div>
</header>
