<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to '#', class: 'nav-link active', aria: { current: 'page' } do %>
          <i class="fas fa-home"></i>
          Início
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to '#', class: 'nav-link' do %>
          <i class="fas fa-file"></i>
          Relatórios
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to '#', class: 'nav-link' do %>
          <i class="fas fa-upload"></i>
          Importar dados
        <% end %>
      </li>
    </ul>
  </div>
</nav>
