/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "upload";
@import "./shared/variables";
@import "./shared/global";

body {
  font-family: "Roboto", sans-serif;
  background-color: $secondary-color;
}

header.navbar {
  background-color: $header-bg-color;
}

header .navbar-brand img {
  height: 40px;
  margin-right: 10px;
}

header .navbar-toggler {
  border: none;
}

ul.nav {
  padding-left: 0;
}

ul.nav li.nav-item {
  margin: 0;
}

main {
  background-color: $main-bg-color;
  padding: 10px;
  border-radius: 8px;
}

// Flash Messages
.flash-messages-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
  width: auto;
  max-width: 300px;
}

.toast {
  opacity: 0.9;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
}

.toast-body {
  font-size: 14px;
  color: #fff;
}

.btn-close-white {
  filter: invert(1);
}

table td {
  border-bottom-width: 2px !important;
  border-top-width: 2px !important;
}