@import "bootstrap";
@import "./shared/variables";
@import "./shared/global";

.card {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: $header-bg-color;
  color: $form-text-color;
}

#maino-logo {
  height: 70px;
  margin: 0 auto 35px auto;
}

#main {
  height: 100vh;
  background-color: #00000025;
}